:Shell Exam : 3 @ ./Shell/Exams

## Pipes
./Shell/Exams/Pipes:1-15

## Scripts
./Shell/Exams/Scripts:16-61

## Semaphores
./Shell/Exams/Semaphores:98-125


:C Exam : 2 @ ./C/Exams

## Input_Output
./C/Exams/Input_Output:62-84

## Processes_Pipes_Input_Output
./C/Exams/Processes_Pipes_Input_Output:85-97


# Rows starting with # are considered comments
# Format of the section start rows (where md files will be generated) is as follows:
# : {name} @ {path}
# Format of the config rows is as follows: 
# {path to folder with tasks} : {start task num} - {end task num}